$alert: #FF1493;

@mixin animation {
  @keyframes fadeout {
    from {
      opacity: 1
    }
    to {
      opacity: 0;
    }
  }
}

@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-direction-row {
  display: flex;
  flex-direction: row;
}

@include animation

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.action-item {
  margin: 10px;
  border: none;
  padding: 3px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.archive-button {
  margin: 0 0 0 20px;
  font-size: 12px;
}

body {
  font-family: 'Give You Glory', cursive;
}

.done {
  text-decoration: line-through;
}

.error {
  color: red;
}

.field_with_errors {
  @include flex-direction-column;
  align-items: center;
}

form {
  @include flex-direction-column;
  align-items: center;
}

h1 {
  margin-bottom: 0px;
  text-align: center;
}

.input {
  @include flex-direction-column;
  align-items: center;
}

input {
  font-family: inherit;
  margin: 10px;
  font-size: 16px;
}

li {
  @include flex-direction-row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.list-actions {
  @include flex-direction-row;
}

main {
  @include flex-direction-column;
  align-items: center;
  font-size: 22px;
}

nav {
  @include flex-direction-row;
  justify-content: space-between;

  @media (min-width: 600px) {
    justify-content: flex-end;
  }
}

.notification {
  @include flex-direction-row;
  justify-content: center;
  margin: 0;
  color: $alert;
  opacity: 0;
  font-size: 16px;
  animation: fadeout 4s;
}

.priority {
  color: $alert;
}

.scheduled-date {
  margin-left: 30px;
  color: $alert;
}

.scheduled-to-do-fields {
  @include flex-direction-row;
}

select {
  font-family: inherit;
  font-size: 12px;
  margin: 0 0 0 20px;
}

.session-form {
  margin: 40px;
}

ul {
  padding: 0;
  margin: 20px 10px;
}
