body {
  font-family: 'Give You Glory', cursive;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: inherit;
  margin: 10px;
}

.field_with_errors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.done {
  text-decoration: line-through;
}

.to-do {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  font-family: inherit;
  font-size: 12px;
  margin-left: 10px;
}

.nav-item {
  margin: 10px;
  border: solid 0.5px black;
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  background: #efefef
}
