$alert: #FF1493;

@mixin animation {
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-direction-row {
  display: flex;
  flex-direction: row;
}

@include animation

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.action-item {
  margin: 10px;
  border: none;
  padding: 3px;
  font-size: 16px;
  font-family: inherit;
  color: black;
  text-decoration: none;
  background-color: transparent;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

.archive-button {
  margin: 0 0 0 20px;
  font-size: 12px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

button {
  font-family: inherit;
  margin: 10px;
  font-size: 16px;
}

.done {
  text-decoration: line-through;
}

.error {
  color: $alert;
  font-size: 16px;
}

.field_with_errors {
  @include flex-direction-column;
  align-items: center;
}

form {
  @include flex-direction-column;
  align-items: center;
}

h1 {
  margin-bottom: 0px;
  text-align: center;
}

.hidden {
  display: none;
}

.input {
  @include flex-direction-column;
  align-items: center;
}

input {
  font-family: inherit;
  margin: 10px;
  font-size: 16px;
}

li {
  @include flex-direction-row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.list-actions {
  @include flex-direction-row;
}

.list-email {
  position: relative;
}

.list-email-button {
  cursor: pointer;
  white-space: normal;
}

.list-email-confirmation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  pointer-events: none;
  opacity: 0;
  animation: fadeout 10s;
  @include flex-direction-row;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: $alert;
  font-size: 16px;
}

main {
  @include flex-direction-column;
  align-items: center;
  font-size: 22px;
}

nav {
  @include flex-direction-row;
  justify-content: space-between;

  @media (min-width: 600px) {
    justify-content: flex-end;
  }
}

.priority {
  color: $alert;
}

.scheduled-date {
  margin-left: 30px;
  color: $alert;
}

.scheduled-to-do {
  @include flex-direction-row;
  width: 100%;
  justify-content: space-between;
}

.scheduled-to-do-fields {
  @include flex-direction-row;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  font-family: inherit;
  font-size: 12px;
  margin: 0 0 0 20px;
}

.session-form {
  margin: 40px;
}

th {
  &:last-child {
    margin-left: 20px;
    color: $alert;
  }
}

.to-do-details {
  @include flex-direction-column;
  align-items: center;
}

tr {
  @include flex-direction-row;
  justify-content: space-between;
}

ul {
  padding: 0;
  margin: 20px 10px;
}
